body{
    display: flex;
    justify-content: space-between;
    height: 450px;
}
button{
    width: 40%;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg/1200px-Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg');
    background-size: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    
}
button:hover{
    box-shadow: 0 0 20px rgb(0, 0, 0);
}
